.page {
    max-width: 1200px;

    margin: 0 auto;

    padding: 40px;
}


.header {
    background: white;

    border: 1px solid black;

    border-radius: 30px;

    padding: 25px;

    margin-bottom: 40px;
}


.header h1 {
    margin: 0;

    font-size: 40px;
}


.header p {
    font-size: 20px;
}


section {
    margin-bottom: 40px;
}


h2 {
    font-size: 30px;
}



.tasks {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}


.taskCard,
.rewardCard {

    background: white;

    border: 1px solid black;

    border-radius: 30px;

    padding: 25px;
}



.progress {
    height: 15px;

    background: #ddd;

    border-radius: 20px;

    overflow: hidden;

    margin: 15px 0;
}


.progress div {
    height: 100%;

    background: black;

}



.rewards {
    display: flex;

    gap: 20px;
}



.rewardCard {
    width: 220px;

    text-align: center;
}


.rewardCard img {
    width: 80px;

    height: 80px;

    object-fit: contain;
}



.rewardCard button {
    margin-top: 15px;

    padding: 12px 20px;

    border-radius: 20px;

    border: 1px solid black;

    cursor: pointer;
}